*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.8;
  color: #333;
  font-size: 1.25rem; }

a, a:link, a:hover, a:visited {
  text-decoration: none !important;
  cursor: pointer; }

.header {
  width: 100%; }
  .header__slogan {
    background-color: #31b7b3;
    text-align: center;
    font-size: 14px; }
    .header__slogan p {
      padding: 10px;
      color: #fff; }
  .header__top-bar {
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
    max-width: 1180px;
    display: flex;
    align-items: center; }
    .header__top-bar--logo a {
      float: left; }
    .header__top-bar--logo a h1 {
      font-weight: 500;
      font-size: 24px;
      display: inherit;
      color: #31b7b3; }
    .header__top-bar--social {
      float: right; }
      .header__top-bar--social a {
        margin-left: 10px; }

.first-view {
  background-image: url(../img/first-view.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: 700px; }
  @media (max-width: 600px) {
    .first-view {
      height: 500px; } }
  @media (min-width: 901px) and (max-width: 1200px) {
    .first-view {
      height: 500px; } }
  .first-view__text-box {
    position: absolute;
    text-align: center;
    top: 33%;
    left: 33%;
    color: #fff; }
    @media (min-width: 601px) and (max-width: 900px) {
      .first-view__text-box {
        left: 15%; } }
    @media (max-width: 600px) {
      .first-view__text-box {
        left: 5%; } }
    .first-view__text-box h3 {
      text-transform: uppercase;
      font-size: 25px;
      letter-spacing: 4px; }
      @media (max-width: 600px) {
        .first-view__text-box h3 {
          font-size: 18px; } }
    .first-view__text-box a {
      margin-top: 10px;
      display: inline-block;
      padding: 15px 20px;
      font-size: 18px;
      background-color: #ffdf42;
      border-radius: 40px 0;
      cursor: pointer;
      color: #333;
      font-weight: 600; }
      .first-view__text-box a:hover {
        color: #333;
        background-color: #f1ee97;
        transform: translateY(-5px); }
      .first-view__text-box a:active {
        transform: translateY(-1px); }
      @media (max-width: 600px) {
        .first-view__text-box a {
          font-size: 13px;
          padding: 5px 10px; } }

.hover--effect-type1 {
  display: block;
  color: #2ea4d2; }

.hover--effect-type1:hover {
  color: #2eaddf !important; }
  .hover--effect-type1:hover img {
    transform: scale(1.5); }

.footer {
  background-color: #31b7b3;
  text-align: center; }
  .footer p {
    margin: 10px;
    font-size: 14px;
    color: #fff; }

.gotoTop {
  position: fixed;
  padding: 10px;
  bottom: 35px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #74b89a;
  color: white;
  cursor: pointer; }
  .gotoTop:hover {
    background-color: #359e60; }

.profile {
  display: block;
  padding: 25px 0; }
  @media (max-width: 600px) {
    .profile {
      padding: 0; } }
  .profile__back-text {
    font-size: 200px;
    color: #ebebeb;
    font-weight: 700;
    position: relative; }
    @media (max-width: 600px) {
      .profile__back-text {
        font-size: 140px; } }
  .profile__desc {
    font-size: 25px;
    line-height: 30px;
    display: block;
    font-weight: 300;
    position: absolute;
    top: 45%;
    width: 100%; }
    @media (max-width: 600px) {
      .profile__desc {
        font-size: 20px;
        line-height: 20px; } }

.product {
  background-color: #d9edf7; }
  .product__list {
    perspective: 1500px;
    moz-perspective: 1500px;
    margin-bottom: 40px;
    position: relative; }
    .product__list--side {
      transition: all .8s ease; }
    .product__list--front {
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .product__list--front figure img {
        width: 100%; }
      .product__list--front--textbox {
        position: absolute;
        height: 130px;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px 0px 10px 10px;
        width: 100%;
        bottom: 0;
        color: #fff; }
        @media (max-width: 600px) {
          .product__list--front--textbox {
            height: 90px; } }
        @media (min-width: 601px) and (max-width: 900px) {
          .product__list--front--textbox {
            height: 105px; } }
        .product__list--front--textbox--title {
          font-weight: 600;
          font-size: 30px; }
          .product__list--front--textbox--title a, .product__list--front--textbox--title a:hover {
            color: #fff; }
          @media (max-width: 600px) {
            .product__list--front--textbox--title {
              font-size: 20px;
              margin-bottom: 10px; } }
          @media (min-width: 601px) and (max-width: 900px) {
            .product__list--front--textbox--title {
              font-size: 25px;
              line-height: 15px; } }
        @media (max-width: 600px) {
          .product__list--front--textbox--desc {
            font-size: 14px; } }
        @media (min-width: 601px) and (max-width: 900px) {
          .product__list--front--textbox--desc {
            font-size: 15px;
            line-height: 18px; } }
    .product__list--back {
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      width: 100%;
      height: 475px;
      background-color: #777;
      padding: 10px;
      transform: rotateY(-180deg); }
      .product__list--back--desc {
        color: #fff;
        position: absolute;
        font-size: 18px;
        top: 20%; }
      .product__list--back a {
        position: absolute;
        bottom: 40px;
        left: 40%;
        color: #fff;
        padding: 8px 15px;
        border: 1px solid #fff;
        text-transform: uppercase; }
      .product__list--back a:hover {
        color: #000;
        background-color: #fff; }
    @media (min-width: 901px) and (max-width: 1200px) {
      .product__list:hover .product__list--front {
        transform: rotateY(180deg); }
      .product__list:hover .product__list--back {
        transform: rotateY(0); } }
    @media (min-width: 1201px) and (max-width: 1800px) {
      .product__list:hover .product__list--front {
        transform: rotateY(180deg); }
      .product__list:hover .product__list--back {
        transform: rotateY(0); } }

.info {
  background-image: url(../img/bg1.jpg);
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .info:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0; }
  .info__box {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff; }
    .info__box h2 {
      font-size: 40px;
      margin-bottom: 20px; }
      @media (max-width: 600px) {
        .info__box h2 {
          font-size: 20px; } }
    .info__box p {
      margin: 0;
      padding: 0;
      font-size: 18px; }
      @media (max-width: 600px) {
        .info__box p {
          font-size: 15px; } }
    .info__box a {
      margin-top: 25px;
      color: #fff;
      padding: 8px 15px;
      border: 1px solid #fff;
      text-transform: uppercase; }
      @media (max-width: 600px) {
        .info__box a {
          font-size: 12px;
          background-color: #4ea3c9; } }
    .info__box a:hover {
      color: #000;
      background-color: #fff; }

.news__cat {
  font-size: 20px;
  border-bottom: solid 1px #2e97c0;
  padding-bottom: 15px; }
  @media (max-width: 600px) {
    .news__cat {
      font-size: 18px;
      padding-bottom: 5px;
      margin-top: 20px; } }

.news ul {
  margin: 0;
  padding: 0;
  display: block; }
  .news ul li {
    border-bottom: #ccc solid 1px;
    padding-bottom: 14px;
    list-style: none;
    display: block; }
    .news ul li a {
      display: block;
      position: relative;
      padding-left: 30px;
      color: #2ea4d2; }
      .news ul li a:hover {
        color: #6b7da5; }

.news__icon {
  position: absolute;
  left: 0;
  top: 4px;
  color: #267163;
  font-size: 12px !important; }

.news__title {
  margin-top: 15px;
  font-weight: 600;
  display: block;
  font-size: 15px;
  line-height: 18px; }
  @media (max-width: 600px) {
    .news__title {
      font-size: 15px;
      line-height: 16px; } }

.news__date {
  color: #737373;
  font-weight: normal;
  font-size: 14px; }
  @media (max-width: 600px) {
    .news__date {
      font-size: 12px; } }

.blog__list {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px; }
  .blog__list figure {
    overflow: hidden; }
  .blog__list img {
    transition: transform 0.3s;
    width: 100%;
    transform: scale(1.2); }
  .blog__list--title {
    font-size: 20px;
    margin-bottom: 25px; }
    @media (max-width: 600px) {
      .blog__list--title {
        font-size: 18px;
        margin-bottom: 12px; } }
  .blog__list--excerpt {
    display: block;
    margin-bottom: 25px; }
    @media (max-width: 600px) {
      .blog__list--excerpt {
        font-size: 15px; } }
  .blog__list--details {
    padding: 4px 20px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 20px; }
    @media (max-width: 600px) {
      .blog__list--details {
        font-size: 13px;
        padding: 3px 10px; } }

.page-title {
  font-size: 38px;
  font-weight: 500; }
  .page-title:after {
    width: 150px;
    height: 2px;
    background: #2e97c0;
    content: "";
    display: block;
    margin: 15px 0 30px;
    margin-left: auto !important;
    margin-right: auto !important; }
    @media (max-width: 600px) {
      .page-title:after {
        width: 60px;
        margin: 5px 0 3px; } }
  @media (max-width: 600px) {
    .page-title {
      font-size: 20px; } }

.page-desc {
  font-size: 18px;
  font-weight: 400; }
  @media (max-width: 600px) {
    .page-desc {
      font-size: 15px;
      line-height: 18px; } }
