*,
*::before, 
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
      scroll-behavior: smooth;
    }

body {
	box-sizing: border-box;
	font-weight: 400;
	line-height: 1.8;
	color: #333;
	font-size: 1.25rem;
}

a{
	&,
	&:link,
	&:hover,
	&:visited {
		text-decoration: none !important;
		cursor: pointer;
	}

}

@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
