.profile {
	display: block;
	padding: 25px 0;
	@include respond(phone) {
		padding: 0;
	}
	&__back-text {
		font-size: 200px;
		color: #ebebeb;
		font-weight: 700;
		position: relative;
		@include respond(phone) {
			font-size: 140px;
		}
	}

	&__desc {
		font-size: 25px;
		line-height: 30px;
		display: block;
		font-weight: 300;
		position: absolute;
		top: 45%;
		width: 100%;
		@include respond(phone) {
			font-size: 20px;
			line-height: 20px;
		}
	}
}

.product {
	background-color: #d9edf7;
	&__list {
		perspective: 1500px;
		moz-perspective: 1500px;
		margin-bottom: 40px;
		position: relative;
		&--side {
			transition: all .8s ease;
		}
		&--front {
			figure {
				img{
					width: 100%;
				}
			}
			box-shadow: 0 1.5rem 4rem rgba(#000, .15);

			&--textbox {
				position: absolute;
				height: 130px;
				@include respond(phone) {
					height: 90px;
				}
				@include respond(tab-port) {
					height: 105px;
				}
				background: rgba(0,0,0,.5);
				padding: 10px 0px 10px 10px;
				width: 100%;
				bottom: 0;
				color: #fff;
				&--title{
					font-weight: 600;
					font-size: 30px;
					a,a:hover{
						color: #fff;
					}
					@include respond(phone) {
						font-size: 20px;
						margin-bottom: 10px;
					}
					@include respond(tab-port) {
						font-size: 25px;
						line-height: 15px;
					}
				}
				&--desc {
					@include respond(phone) {
						font-size: 14px;
					}
					@include respond(tab-port) {
						font-size: 15px;
						line-height: 18px;
					}
				}
			}
		}

		&--back {
			position: absolute;
			top: 0;
			left: 0;
			backface-visibility: hidden;
			width: 100%;
			height: 475px;
			background-color: #777;
			padding: 10px;
			transform: rotateY(-180deg);
			&--desc {
				color: #fff;
				position: absolute;
				font-size: 18px;
				top: 20%;
			}
			& a {
				position: absolute;
				bottom: 40px;
				left: 40%;
				color: #fff;
				padding: 8px 15px;
				border: 1px solid #fff;
				text-transform: uppercase;

			}

			& a:hover {
				color: #000;
				background-color: #fff;
			}
		}

		@include respond(tab-land){
			&:hover &--front{
				transform: rotateY(180deg);
			}

			&:hover &--back {
				transform: rotateY(0);
			}
		}
		@include respond(big-desktop){
			&:hover &--front{
				transform: rotateY(180deg);
			}

			&:hover &--back {
				transform: rotateY(0);
			}
		}



		
	}
}

.info {
	background-image: url(../img/bg1.jpg);
	height: 450px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment:  fixed;
	position: relative;
	&:before{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0,0,0,0.2);
		top: 0;
		left: 0;
	}

	&__box {
		height: 450px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: #fff;
		h2 {
			font-size: 40px;
			margin-bottom: 20px;
			@include respond(phone) {
				font-size: 20px;
			}
		}
		p {
			margin: 0;
			padding: 0;
			font-size: 18px;
			@include respond(phone) {
				font-size: 15px;
			}
		}		
		& a {
				margin-top: 25px;
				color: #fff;
				padding: 8px 15px;
				border: 1px solid #fff;
				text-transform: uppercase;
				@include respond(phone) {
					font-size: 12px;
					background-color: #4ea3c9;

				}
			}

			& a:hover {
				color: #000;
				background-color: #fff;
			}
	}
}

.news {
	&__cat {
		font-size: 20px;
		border-bottom: solid 1px #2e97c0;
		padding-bottom: 15px; 
		@include respond(phone) {
			font-size: 18px;
			padding-bottom: 5px;
			margin-top: 20px;
		}
	}

	ul{
		margin: 0;
		padding: 0;
		display: block;
		
		li {
			border-bottom: #ccc solid 1px;
			padding-bottom: 14px;
			list-style: none;
			display: block;
			a {
				display: block;
				position: relative;
				padding-left: 30px;
				color: #2ea4d2;
				&:hover{
					color: #6b7da5;
				}

			}
		}

	}
	&__icon {
		position: absolute;
		left: 0;
		top: 4px;
		color: #267163;
		font-size: 12px !important;
	}

	&__title {
		
		margin-top: 15px;
		font-weight: 600;
		display: block;
		font-size: 15px;
		line-height: 18px;
		@include respond(phone) {
			font-size: 15px;
			line-height: 16px;
		}
	}

	&__date {
		color: #737373;
		font-weight: normal;
		font-size: 14px;
		@include respond(phone) {
			font-size: 12px;
		}

	}
}

.blog {
	&__list {
		padding: 10px;
		border: 1px solid #ddd;
		margin-bottom: 10px;
		figure {
			overflow: hidden;

		}
		img {
			transition: transform 0.3s;
			width: 100%;
			transform: scale(1.2);
		}

		&--title {
			font-size: 20px;
			margin-bottom: 25px;
			@include respond(phone) {
				font-size: 18px;
				margin-bottom: 12px;
			}
		}

		&--excerpt {
			display: block;
			margin-bottom: 25px;
			@include respond(phone) {
				font-size: 15px;
			}
		}

		&--details {
			padding: 4px 20px;
			font-size: 14px;
			border: 1px solid;
			border-radius: 20px;
			@include respond(phone) {
				font-size: 13px;
				padding: 3px 10px;
			}
		}
	}
}