.header {
	width: 100%;
	&__slogan{
		background-color: #31b7b3;
		text-align: center;
		font-size: 14px;
		p {
			padding: 10px;
			color: #fff;
		}
	}

	&__top-bar {
		height: 110px;
		margin-left: auto;
		margin-right: auto;
		width: 93%;
		max-width: 1180px;
		display: flex;
		align-items: center;

		&--logo {
			a {
				float: left;

			}
			a h1{
				font-weight: 500;
				font-size: 24px;
				display: inherit;
				color: #31b7b3;
			}
		}

		&--social {
			float: right;
			a {
				margin-left: 10px;
			}
		}



	}
}

.first-view {
	background-image: url(../img/first-view.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	position: relative;
	height: 700px;
	@include respond(phone) {
		height: 500px;
	}
	
	@include respond(tab-land) {
		height: 500px;

	}
	&__text-box {
		position: absolute; 
		text-align: center;
		top: 33%;
		left: 33%;
		color: #fff;
		@include respond(tab-port) {
			left: 15%; 
		}

		@include respond(phone) {
			left: 5%;
		}
		
		h3 {			
			text-transform: uppercase;
			font-size: 25px;
			letter-spacing: 4px;
			@include respond(phone) {
				font-size: 18px;
			}
		}

		a{
			margin-top: 10px;
			display: inline-block;
			padding: 15px 20px;
			font-size: 18px;
			background-color: #ffdf42;
			border-radius: 40px 0;
			cursor: pointer;
			color: #333;
			font-weight: 600;
			&:hover {
				color: #333;
				background-color: #f1ee97;
				transform: translateY(-5px);
			}
			&:active {
				transform: translateY(-1px);
			}

			@include respond(phone) {
				font-size: 13px;
				padding: 5px 10px;
			}
		}
	}
}

.hover--effect-type1 {
	display: block;
	color: #2ea4d2;


}
.hover--effect-type1:hover {
	color: #2eaddf !important;
	img{
		transform: scale(1.5);
	}
}

.footer {
	background-color: #31b7b3;
	text-align: center;
	p {
		margin: 10px;
		font-size: 14px;
		color: #fff;
	}
}

.gotoTop {
    position: fixed;
    padding: 10px;
    bottom: 35px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #74b89a;
    color: white;
    cursor: pointer;

    &:hover{
	  background-color: #359e60;
	}
}

