@mixin respond($breakpoint){
	@if $breakpoint == phone{
		@media (max-width: 600px) { @content };
	}

	@if $breakpoint == tab-port{
		@media (min-width: 601px) and (max-width: 900px) { @content };
	}
	@if $breakpoint == tab-land{
		@media (min-width: 901px) and (max-width: 1200px) { @content };
	}
	@if $breakpoint == big-desktop{
		@media (min-width: 1201px) and (max-width: 1800px) { @content };
	}
}