.page-title {
	font-size: 38px;
	font-weight: 500;
	&:after{
		width: 150px;
	    height: 2px;
	    background: #2e97c0;
	    content: "";
	    display: block;
	    margin: 15px 0 30px;
	    margin-left: auto !important;
	    margin-right: auto !important;
	    @include respond(phone) {
	    	width: 60px;
	    	margin: 5px 0 3px;
		}
	}

	@include respond(phone) {
		font-size: 20px;
	}
}
.page-desc {
	font-size: 18px;
	font-weight: 400;
	@include respond(phone) {
		font-size: 15px;
		line-height: 18px;
	}
}